// headings
.banner {
    font-style: normal;
    font-weight: 600;

    @include xxl-screen {
        font-size: 42px;
    }

    @include lg-screen {
        font-size: 36px;
    }

    @include md-screen {
        font-size: 32px;
    }

    @include sm-screen {
        font-size: 24px;
    }
}

.heading-1 {
    font-size: 42px;
    line-height: 57.37px;

    @include xl-screen {
        font-size: 36px;
        line-height: 49px;
    }

    @include lg-screen {
        font-size: 32px;
    }

    @include sm-screen {
        font-size: 24px;
    }
}

.heading-2 {
    font-size: 36px;

    @include xl-screen {
        font-size: 32px;
    }

    @include lg-screen {
        font-size: 28px;
    }

    @include sm-screen {
        font-size: 20px;
    }
}

.heading-3 {
    font-size: 24px;

    @include xl-screen {
        font-size: 20px;
    }

    @include lg-screen {
        font-size: 18px;
    }
}

.heading-4 {
    font-size: 20px;

    @include xl-screen {
        font-size: 18px;
    }

    @include lg-screen {
        font-size: 16px;
    }
}

.heading-5 {
    font-size: 16px;

    @include xl-screen {
        font-size: 14px;
    }
}

.heading-6 {
    font-size: 12px;
}

.text-1 {
    font-size: 24px;

    @include xl-screen {
        font-size: 20px;
    }

    @include lg-screen {
        font-size: 18px;
    }
}

.text-2 {
    font-size: 20px;

    @include xl-screen {
        font-size: 18px;
    }

    @include lg-screen {
        font-size: 16px;
    }
}

.text-3 {
    font-size: 16px;

    @include xl-screen {
        font-size: 14px;
    }
}

.text-4 {
    font-size: 12px;
}
