<div class="modal" data-modal="modal-id">
    <div class="modal__inner" data-modal-inner="modal-id">
        <div class="modal__header">
            <h3 class="modal__title">Заголовок</h3>
            <button type="button" class="modal__close" data-modal-close="modal-id">
                <svg class="icon icon-close">
                    <use xlink:href="./img/sprite.svg#icon-close"></use>
                </svg>
            </button>
        </div>
        <div class="modal__main">
            Контент внутри
        </div>
    </div>
</div>
