.cube {
    position: absolute;
    top: 10em;
    left: 10%;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: animate 6s linear infinite;

    div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;

        span {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(#151515, var(--color-rose));
            transform: rotateY(calc(var(--i) * 90deg)) translateZ(98.5px);
        }
    }

    &__top {
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        height: 200px;
        background: #222;
        transform: rotateX(90deg) translateZ(99.5px);

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 200px;
            height: 200px;
            background: var(--color-rose);
            transform: translateZ(-250px);
            filter: blur(20px);
            box-shadow: 0 0 120px var(--color-rose),;
        }
    }
}

.cube-2 {
    top: 40em;
    left: 80%;

    @include sm-screen {
        left: 60%;
    }

    @include xs-screen {
        left: 45%;
    }

    div {
        span {
            background: linear-gradient(#151515, var(--color-blue));
        }
    }

    &__top {
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        height: 200px;
        background: #222;
        transform: rotateX(90deg) translateZ(99.5px);

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 200px;
            height: 200px;
            background: var(--color-blue);
            transform: translateZ(-250px);
            filter: blur(20px);
            box-shadow: 0 0 120px var(--color-blue),;
        }
    }
}

@keyframes animate {
    0% {
        transform: rotateX(-30deg) rotateY(0deg);
    }

    100% {
        transform: rotateX(-30deg) rotateY(360deg);
    }
}
