{% import "data/_data.twig" as data %}
{% import "partials/_mixins.twig" as mixins %}
{% set debug = false %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="theme-color" content="#fff"/>
  <meta name="format-detection" content="telephone=no"/>
  <link type="image/x-icon" href="favicon/favicon.ico" rel="shortcut icon">
  <link rel="stylesheet" media="all" href="css/style.css"/>
  {# {% include "../partials/_media-tags.twig" %} #}
</head>
<body class="custom-scroll">
<!-- BEGIN content -->
<div class="page">
  {% if debug %}
    {% include "partials/_debug.twig" %}
  {% endif %}
  {% include "partials/_header.twig" %}
  <div class="main">
    {% block content %}{% endblock %}
  </div>
  {% include "partials/_footer.twig" %}
  {% include "partials/_modals.twig" %}
</div>
<!-- END content -->

<script type="module" src="js/app.js"></script>


<script>
  (function () {
    const scripts = ['js/polyfills.legacy.js', 'js/app.legacy.js']

    if (!('noModule' in HTMLScriptElement.prototype)) {
      for (var i = 0; i < scripts.length; i++) {
        const loadScript = document.createElement('script')
        loadScript.src = scripts[i]
        document.body.appendChild(loadScript)
      }
    }
  })()
</script>

<!-- !!!!!!!! START: HELPER ТОЛЬКО ДЛЯ DEV !!!!!!!!! -->
<script src="js/helper-menu.js"></script>
<!-- !!!!!!!! END: HELPER ТОЛЬКО ДЛЯ DEV !!!!!!!!! -->
</body>
</html>
