.icon-close {
  width: 1em;
  height: 1em;
}
.icon-contacts {
  width: 0.85em;
  height: 1em;
}
.icon-github {
  width: 1.02em;
  height: 1em;
}
.icon-projects {
  width: 0.86em;
  height: 1em;
}
.icon-user {
  width: 1.05em;
  height: 1em;
}
.icon-vk {
  width: 1em;
  height: 1em;
}
